.container{
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: purple;


}


.logo{
    font-size: 30px;
    font-weight: bold;
}